# Supabase — Project Settings → API
VITE_SUPABASE_URL=https://binzudcahumiludvvdku.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpbnp1ZGNhaHVtaWx1ZHZ2ZGt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0NjM4MzAsImV4cCI6MjA5NjAzOTgzMH0.4jJ2y2UEW5DVzTenidHTLHAd_yoXMGyEip8wR_7L1P0

# Backend API
VITE_API_URL=http://localhost:5000/api

# Razorpay (same key_id as backend)
VITE_RAZORPAY_KEY_ID=rzp_test_Sx3tOB8O19FLOe
